.high-effort{
    -fx-background-color:#F3C1C6;
}
.medium-effort{
    -fx-background-color:#F0F69F;
}
.low-effort{
    -fx-background-color:#B0E0A8;
}
.unlisted{
    -fx-background-color:#D8EFF0;
}
.redText{
    -fx-text-fill:red;
    -fx-font-size:18;
    -fx-font-weight:bold;
    -fx-text-alignment:center;
    -fx-alignment:center;
}
.table-column-header{
    -fx-font-family:".VnArial";
}
.table-cell{
    -fx-font-family:".VnArial";
    -fx-alignment:center;
}